<div class="table-responsive">
<table class="table table-bordered m-0">
    <thead>
    <tr>
        <!-- Set columns width -->
        <th class="text-center py-3 px-4" style="min-width: 400px;">Название товара</th>
        <th class="text-right py-3 px-4" style="width: 100px;">Цена</th>
        <th class="text-center py-3 px-4" style="width: 120px;">Количество</th>
        <th class="text-right py-3 px-4" style="width: 100px;">Стоимость</th>
        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                                                                               class="shop-tooltip float-none text-light"
                                                                               title=""
                                                                               data-original-title="Clear cart"><i
                class="ino ion-md-trash"></i></a></th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_products%}
    <tr>
        <td class="p-4">
            <div class="media align-items-center">
                <img src="/media/{{item.product.image}}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                <div class="media-body">
                    <a href="#" class="d-block text-dark">{{item.product.name}}</a>
                    <small>
                        <span class="text-muted">{{item.product.description}}</span>
                    </small>
                </div>
            </div>
        </td>
        <td class="text-right font-weight-semibold align-middle p-4">{{item.product.price}}&nbspруб</td>
        <td class="align-middle p-4"><input type="number" name="{{item.product.pk}}" min="0"
                                            class="form-control text-center" value="{{item.quantity}}"></td>
        <td class="text-right font-weight-semibold align-middle p-4"> {{item.product_cost}}&nbspруб</td>
        <td class="text-center align-middle px-0"><a href="{% url 'cart:remove_product_from_cart' item.pk %}"
                                                     class="shop-tooltip close float-none text-danger" title=""
                                                     data-original-title="Remove">×</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
<div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
    <div class="mt-4">
        <label class="text-muted font-weight-normal"></label>
    </div>
    <div class="d-flex">
        <div class="text-right mt-4 mr-5">
        </div>

        <div class="text-right mt-4">
            <label class="text-muted font-weight-normal m-0">Общая стоимость заказа</label>
            <div class="text-large"><strong>{{user_products.0.total_cost}} &nbspруб</strong></div>
        </div>

    </div>
</div>
</div>